
<p>
  <strong>Name:</strong>
  <%= @reviewer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reviewer.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @reviewer.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reviewer.email %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @reviewer.occupation %>
</p>

<%#= link_to 'Edit', edit_product_path(@product) %> 
<%#= link_to 'Back', products_path %>
