<div class="form_center" style="width:80%;display:flex; position: absolute; left: 20px; top: 400px;">
<div class="input-group" style="width:50%">
  <span class="input-group-addon" id="basic-addon1">Find</span>
  <input type="text" class="form-control" placeholder="Chef, Hotel..." aria-describedby="basic-addon1">
</div>
<div class="input-group" style="width:50%">
  <span class="input-group-addon" id="basic-addon1">Near</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<input class="btn btn-primary" type="submit" value="Submit">

</div>


<h1>Products</h1>


<br>

  <% @products.each do |product| %>
  <div class="polaroid" style="border: 1px solid grey;border-bottom: none;border-radius: 25px;"">
    <img src= <%= product.images.first %> alt="Norway" style="width:100%;height: 180px; ">
    <div style="padding: 10px; text-align: left;">
      <p> <%= link_to "#{product.name}", product %> </p>
      
      <%= product.address %> <br>
      <%= product.city %> 
      <%= link_to 'Add Review', new_review_path(product: product.id) %>
    </div>
  </div>

  <%end%>



<style type="text/css">
 div.polaroid {
  padding: 15px 15px 15px 15px;
  float: left;
  width: 300px;
  height: 250px
  
  text-align: center;
  
  flex-grow: 1;
  width: 33%;
}
}

div.container {

  padding: 10px;
}
</style>