<div class="w3-panel w3-red">
    <p>I am a panel.</p>
  </div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @product.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @product.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @product.city %>
</p>

<p>
  <strong>Type:</strong>
  <%#= @product.type_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> 

<% @reviews.each do |review| %>
  <p>
  <strong>User:</strong>
  <%= review.reviewer_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= review.product_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= review.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= review.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p>
  <strong>Images:</strong>
  <%= review.images %>
</p>
<%end%>

<%= link_to 'Add Review', new_review_path(product: @product.id) %>

