<!DOCTYPE html>
<html>
  <head>
    <title>ReviewSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home_page" >
      <div class="homepgae_back"> 
      <%= if current_reviewer 
        button_to "Sign Out", destroy_reviewer_session_path ,method: 'delete', class: "btn btn-primary-outline1"
      else
        button_to "Sign Up", new_reviewer_registration_path ,method: 'get', class: "btn btn-primary-outline1"
      end  
        %>
       
       <%= if current_reviewer 
        button_to "#{current_reviewer.name || 'hiii'}", reviewer_path(current_reviewer) ,method: 'get', class: "btn btn-primary-outline2"
      else
        button_to "Sign In", new_reviewer_session_path ,method: 'get', class: "btn btn-primary-outline2"
      end  
        %>
      </div>
      <div class= "container">
      <%= yield %>
      </div>
      <div>

      <footer class="footer">
        <small>
          All Right Reserved!!!
        </small>
        <nav>
          <ul>
            <li><%= link_to "Be a Businessman",   new_businessman_session_path %></li>
            <li><%= link_to "Contact", '#' %></li>
          </ul>
        </nav>
      </footer>
      </div>
  
  </body>
  <style type="text/css">
    
    

  </style>

</html>
