<!DOCTYPE html>
<html>
  <head>
    <title>ReviewSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg) ; background-repeat: no-repeat; height: 500px; width: 100%; border: 1px solid black; background-size: 100% 100%; "> 
    

     <%= button_to "Sign Up", new_reviewer_registration_path ,method: 'get', class: "btn btn-primary-outline1"%>
     <%= button_to "Sign In", new_reviewer_session_path ,method: 'get', class: "btn btn-primary-outline1"%>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    </div>
  	
  </body>
  <style type="text/css">
    
    .btn-primary-outline1 {
  background-color: transparent;
  border-color: #FFFFFF;
  border-width: 2px;
  color: #FFFFFF;
 

}

  </style>>
}
</html>
